* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[v-cloak] {
  display: none;
}

html {
  font-size: 24px;
}

body {
  font-family: 'Merriweather', serif;
  margin: 2rem auto;
  font-size: 2rem;
  width: 90%;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: 'Lora', serif;
}

.thanks-message {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thanks-message div {
  width: 100%;
  max-width: 400px;
}